{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div id="slider" class="{% unless product.variants.size == 1 and product.variants.first.title contains 'Default' %}carousel-slider{% endunless %} flexslider product_slider">
  <ul class="slides">
    {% for image in product.images %}
      <li data-thumb="{{ image | product_img_url: '1024x1024' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">

        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign src = image.alt | split: 'src="' %}
          {% assign src = src[1] | split: '"' | first %}

          {% if src contains '?' %}
            {% assign src = src | append: '&amp;autoplay=1' %}
          {% else %}
            {% assign src = src | append: '?autoplay=1' %}
          {% endif %}
        {% else %}  

          <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
          </div>  

          {% if image.alt == "curated-image" %}
            <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
              <img src="{{ image | product_img_url: '1024x1024' }}" data-src-retina="{{ image | product_img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.length }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
            </a>
          {% else %}
            <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
              <img src="{{ image | product_img_url: '1024x1024' }}" data-src-retina="{{ image | product_img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
            </a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% unless product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  <div id="carousel" class="flexslider">
    {% for option in product.options %}
      {% if option == 'Color' %}
        {% assign selectedVariant = product.selected_or_first_available_variant.options[forloop.index0 ] | handleize %}
      {% elsif option == 'Size'%}
        {% assign selectedVariant = product.selected_or_first_available_variant.options[forloop.index0 ] | handleize %}
      {% endif %}
    {% endfor %}
    <ul class="slides">
      {% for image in product.images %}
        {% if image.alt == "curated-image"%}
          <li class="thumbnail-{{image.alt}} animated fadeIn flex-active-slide active-variant curated">
            <img src="{{image | product_img_url: 'medium'  }}" alt="{{image.alt}}" />
          </li>
        {% else %}
          <li class="thumbnail-{{image.alt}} animated fadeIn {%if image.alt == selectedVariant%} active-variant {% endif %}">
            <img src="{{image | product_img_url: 'medium'  }}" alt="{{image.alt}}" />
          </li>
        {% endif%}  
      {% endfor %}
    </ul>
  </div>
{% endunless %}  
&nbsp;