<div class="container page-template">
  <div class="center">
    <h2>We Support</h2>
	<h1>The Urban Zen Foundation</h1>
    <p>The Urban Zen Foundation creates, connects and collaborates to raise awareness and inspire change<br> in the areas of preservation of culture, well-being, and education.</p>
  </div>
  <br>
  <div class="one-third column animated fadeIn center alpha inline thumbnail">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'UZF_Culture_2016_1_large.jpg' | asset_url }}" alt="Preserving Cultures" />
	  <h4>Preserving Cultures</h4>
	  <p>Programs such as the Haiti Artisan Project and D.O.T promote economic development for artisan communities through education and job creation.</p>
	  <a href="http://urbanzen.org/about/preserving-cultures/" target="_blank" class="cta-button"><span>Help Preserve</span></a>
  </div>
  <div class="one-third column animated fadeIn center alpha inline thumbnail">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'UZF_UZIT_2016_1_large.jpg' | asset_url }}" alt="Well-Being" />
	  <h4>Well-Being</h4>
	  <p>The mission of the Urban Zen Integrative Therapy Program is to change the current healthcare paradigm by caring for the patient.</p>
	  <a href="http://uzit.urbanzen.org/" target="_blank" class="cta-button"><span>Help Care</span></a>
  </div>
  <div class="one-third column animated fadeIn center alpha inline thumbnail">
	  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'Paula-Impact-1_large.jpg' | asset_url }}" alt="Empowering Children" />
	  <h4>Empowering Children</h4>
	  <p>Our mission is to care for our children’s well-being and give them the tools to face obstacles and opportunities with love, compassion & strength.</p>
	  <a href="http://urbanzen.org/about/empowering-children/" target="_blank" class="cta-button"><span>Help Empower</span></a>
  </div>
</div>