<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="background-position:center center;background-image: url({{ 'cause-banner-2.png' | asset_url }});">
        <div class="hsContainer">
			<div class="hsContent center">
				<div>
					<img src="{{ 'not-one-more-vert-logo.png' | asset_url }}" alt="Not One More" />
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container">
	<div class="section clearfix border-separate">
		<nav class="nom-nav center"><a href="{{'/pages/not-one-more' | page.url }}">The Cause</a> | <a href="{{'/pages/the-movement' | page.url }}">The Movement</a></nav><br>
		<h1 class="center">Join The Movement</h1>
	</div>
  <div class="section table border-separate clearfix">
	  <div class="eight columns tableCell">
		  <img src="{{ 'event-collage1.jpg' | asset_url }}" alt="Not One More Event" />
	  </div>
	  <div class="eight columns tableCell center">
		  <h2>Take Action</h2>
		  <p>Take a picture wearing the bracelet and share it on your social media network using:</p>
		  <p class="NOM_Movement_">#NotOneMore #UrbanZen #Everytown</p>
		  <h2>Join The Community</h2>
		  <h1>
		  <a href="https://twitter.com/urban_zen" title="Urban Zen Foundation on Twitter" class="fa fa-twitter" rel="me" target="_blank"></a>
		  <a href="https://facebook.com/urbanzen" title="Urban Zen Foundation on Facebook" class="fa fa-facebook" rel="me" target="_blank"></a>
		  <a href="https://pinterest.com/urbanzenpins" title="Urban Zen Foundation on Pinterest" class="fa fa-pinterest" rel="me" target="_blank"></a>
		  <a href="https://instagram.com/urbanzen" title="Urban Zen Foundation on Instagram" class="fa fa-instagram" rel="me" target="_blank"></a>
	  </h1>
	  </div>	  
  </div>
  <div class="sixteen columns">
    <div class="four columns">
        <img src="{{ 'NOM_Movement_1_medium.jpg' | asset_url }}">
    </div>
    <div class="four columns">
        <img src="{{ 'NOM_Movement_2_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_3_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_4_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_5_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_6_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_7_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_8_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_9_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_10_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_11_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_12_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_13_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_14_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_15_medium.jpg' | asset_url }}">
    </div>
      <div class="four columns">
        <img src="{{ 'NOM_Movement_16_medium.jpg' | asset_url }}">
    </div>
  </div>
</div>