<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="background-position:center center;background-image: url({{ 'hap_banner.jpg' | asset_url }});">
        <div class="hsContainer">
			<div class="hsContent center">
				<div>
					<h1 class="headline" style="color:{{settings.banner_color}}">“Where there is creativity there is hope.<br>And Haiti is the most hopeful place I've Experienced.”</h1><h3 class="light">- DONNA KARAN</h3>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container">
	<div class="section clearfix border-separate center">
		<h1>Haiti Artisan Project</h1>
		<p>Donna Karan was first introduced to Haiti by her inspiration, President Bill Clinton, and the Clinton Global Initiative. Instead of seeing the country’s devastation following the earthquake, Donna saw Haiti’s potential through the eyes of creativity and the spirit of its people. She immediately galvanized the design community and fashion world as part of her commitment to tell Haiti’s story through a new lens.</p>

		<p>The Haiti Artisan project, founded by Donna Karan, promotes economic development through job creation and vocational education, helps raise awareness and highlights the creativity of Haiti’s artisans. Ten percent of net proceeds from the Haiti Artisan Project support our foundation’s efforts in Haiti.</p>
  </div>
	<div class="section table center clearfix border-separate">
		<div class="eight columns tableCell">
		   <iframe src="https://player.vimeo.com/video/29276643?color=ffffff&title=0&byline=0&portrait=0" width="537" height="363" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	   	<div class="eight columns tableCell">
		   <p>“Where there is creativity there is hope.<br><br>And Haiti is the most hopeful place I’ve experienced.”<br><strong>- DONNA KARAN</strong></p>
	   	</div>
	  </div>
	<div class="section table center clearfix border-separate">
 	   <div class="eight columns tableCell">
 		   <h2>Our Impact</h2>
 		   <p>The outcome of Urban Zen’s commitment to Haiti has raised massive awareness, created jobs, provided vocational education, and inspired others in the creative community to join the platform and bring even more opportunity to the developing world.</p>
 	   </div>
 	   <div class="eight columns tableCell">
		   <img src="{{ 'page5_rightgrid_img_grande.jpg' | asset_url }}" alt="Our Mission In Haiti" />
	   </div>
   </div>

  <div class="section table center border-separate clearfix">	 
	  <div class="eight columns tableCell">
		  <img src="{{ 'HA_Grants_Given.jpg' | asset_url }}" alt="Our Mission In Haiti" />
	  </div>
	  <div class="eight columns tableCell">
		   <h2>Grants Given</h2>
		   <p>The DOT – Artisan Training Center, a collaboration between Urban Zen, Parsons The New School for Design and Paula Coles<br>Cine Institute<br>ENARTS Fine Arts School<br>Creation of the Urban Zen<br>Art Center at La Reference Village/PRODEV<br>Development of new workspaces for Tobacco Leaf Artisans in Jacmel</p>
	  </div>
  </div>
  <div class="section table center clearfix">
	  <div class="eight columns tableCell">
		  <h2>ARTISANS OF HAITI</h2>
		  <p>The artisans we work with include: Caribbean Craft, Jean Paul Sylviance, Rue De La Reunion Horn & Bone Artisans, Atelier Calla,
Einstein Wood, Pascale Theard, Paula Coles, Apparent Project, Maritou, Metal Work by Croix Des Bouquets, Wrought Iron by Cookie, Philippe Dodard, Leogane Stone, and others.</p>
	  </div>
	  <div class="eight columns tableCell">
		  <img src="{{ 'page3_rightcolumn_img_grande.jpg' | asset_url }}" alt="Our Mission In Haiti" />
	  </div>
  </div>
  <div class="section clearfix center">
	  <a href="http://urbanzen.org/donate/" target="_blank" class="cta-button"><span>Donate</span></a>
  </div>
</div>