<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="background-position:center center;background-image: url({{ 'NOM_Banner.jpg' | asset_url }});">
        <div class="hsContainer">
			<div class="hsContent center">
				<div>
					<img src="{{ 'not-one-more-vert-logo.png' | asset_url }}" alt="Not One More" />
				</div>
			</div>
        </div>
    </div>
</div>
<div class="container">
	<div class="section clearfix border-separate center ">
		<nav class="nom-nav"><a href="{{'/pages/not-one-more' | page.url }}">The Cause</a> | <a href="{{'/pages/the-movement' | page.url }}">The Movement</a></nav><br>
		<h1>Not One More Project</h1>
		<p>Urban Zen, founded by Donna Karan, has joined forces with Michael Bloomberg’s NOT ONE MORE campaign, along with Lise Evans, Everytown for Gun Safety, and Gabby and Mark Giffords/Americans For Responsible Solutions. <br><br>As part of the movement, we’ve launched the Everytown X Not One More Bracelet, a collaboration of Urban Zen’s Haiti Artisan Project and Lise Evans. Fifty percent (50%) of net proceeds from this bracelet supports Everytown for Gun Safety’s efforts to pass common-sense public safety measure to reduce gun violence and save lives.</p>
		<a href="" class="cta-button nom"><span>Shop The Bracelet</span></a>
  </div>
	<div class="section clearfix table border-separate">
	   <div class="eight columns center tableCell">
		   <h2>EVERYTOWN X URBAN ZEN <br> NOT ONE MORE BRACELET</h2>
		   <p>Purchase a bracelet to support NOT ONE MORE,<br>a movement to end gun violence.</p>
   			<p class="p2 price">$30.00</p>
   			<a href="" class="cta-button nom"><span>Shop The Bracelet</span></a>
   			<br><br>
   			<a href="/pages/stores/" class="cta"><span class="dark">Find a Store</span></a>
	   </div>
 	   <div class="eight columns tableCell">
		   <img src="{{ 'nom-dbl-bracelet.jpg' | asset_url }}" alt="Not One More Bracelet" />
	   </div>
   </div>

  <div class="section table clearfix">
	  <div class="eight columns tableCell">
		  <img src="{{ 'NOM_CallToActionCollage.jpg' | asset_url }}" alt="Not One More Event" />
	  </div>
	  <div class="eight columns tableCell center">
		  <h2>A CALL TO ACTION</h2>
		  <p>Each bracelet features the words “NOT ONE MORE,” a national rallying cry of the gun safety movement. These powerful words were inspired by Richard Martinez, the father of 20-year-old Christopher Ross Michaels-Martinez who was killed in the tragedy near the campus of UC Santa Barbara last May. Immediately after the tragedy, Richard Martinez stood up and demanded that “NOT ONE MORE” should die from senseless gun violence in this country.</p>
		  
		   <a href="/pages/the-movement" class="cta-button nom"><span>Join The Movement</span></a>
	  </div>	  
  </div>
</div>