<div class="container align_left">
	<!--first Row-->
	<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<h1 class="absolute-header">Modern<br>Souls</h1><h5 class="absolute-header">Coming Soon</h5>
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '01_Wide_Neck_Sweater_Main_large.jpg' | asset_url }}" data-src-retina="{{ '01_Wide_Neck_Sweater_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Wide Neck Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '02_Wide_Neck_Sweater_2_large.jpg' | asset_url }}" data-src-retina="{{ '02_Wide_Neck_Sweater_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Wide Neck Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '03_Wide_Neck_Sweater_3_large.jpg' | asset_url }}" data-src-retina="{{ '03_Wide_Neck_Sweater_3_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Wide Neck Sweater" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product"><p class="p2 align_left manual-position">While on a journey, a woman stumbles upon an ancient civilization. She discovers it to be a pure magical place where time stands still. Stories of love, wisdom, and healing are shared and explored.</p></div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '04_Short_Sleeve_Box_Sweater_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '04_Short_Sleeve_Box_Sweater_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Short Sleeve Box Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '05_Short_Sleeve_Box_Sweater_large.jpg' | asset_url }}" data-src-retina="{{ '05_Short_Sleeve_Box_Sweater_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Short Sleeve Box Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '06_Deep_VNeck_Wrap_Jumpsuit_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '06_Deep_VNeck_Wrap_Jumpsuit_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Deep V-Neck Wrap Jumpsuit" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '07_Deep_VNeck_Wrap_Jumpsuit_large.jpg' | asset_url }}" data-src-retina="{{ '07_Deep_VNeck_Wrap_Jumpsuit_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Deep V-Neck Wrap Jumpsuit" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '08_Cami_Top_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '08_Cami_Top_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Cami Top" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '09_Cami_Top_large.jpg' | asset_url }}" data-src-retina="{{ '09_Cami_Top_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Cami Top" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '10_Sleeveless_Cowl_Neck_Sweater_Main_large.jpg' | asset_url }}" data-src-retina="{{ '10_Sleeveless_Cowl_Neck_Sweater_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Sleeveless Cowl Neck Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '11_Sleeveless_Cowl_Neck_Sweater_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '11_Sleeveless_Cowl_Neck_Sweater_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Sleeveless Cowl Neck Sweater" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '12_Sleeveless_Cowl_Neck_Sweater_large.jpg' | asset_url }}" data-src-retina="{{ '12_Sleeveless_Cowl_Neck_Sweater_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Sleeveless Cowl Neck Sweater" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '13_Fluid-layer-dress_large.jpg' | asset_url }}" data-src-retina="{{ '13_Fluid-layer-dress_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Fluid Layer Dress" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '14_HN_Fluid-Layer-Dress-Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '14_HN_Fluid-Layer-Dress-Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Fluid Layer Dress" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '15_Slit_Vest_2_large.jpg' | asset_url }}" data-src-retina="{{ '15_Slit_Vest_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Vest" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '16_Slit_Vest_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '16_Slit_Vest_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Vest" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '17_Round_Neck_Cropped_Box_Jacket_large.jpg' | asset_url }}" data-src-retina="{{ '17_Round_Neck_Cropped_Box_Jacket_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Round Neck Cropped Box Jacket" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '18_Round_Neck_Cropped_Box_Jacket_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '18_Round_Neck_Cropped_Box_Jacket_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Round Neck Cropped Box Jacket" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '19_Slit_Coat_1_large.jpg' | asset_url }}" data-src-retina="{{ '19_Slit_Coat_1_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '20_Slit_Coat_2_large.jpg' | asset_url }}" data-src-retina="{{ '20_Slit_Coat_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Coat" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '21_Slit-Coat_Main_large.jpg' | asset_url }}" data-src-retina="{{ '21_Slit-Coat_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Coat" />
	</div><div class="mobile_hidden eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '22_A-Line_Pocket_Shirt_large.jpg' | asset_url }}" data-src-retina="{{ '22_A-Line_Pocket_Shirt_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Pocket Shirt" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '23_Pocket_Shirt_2_large.jpg' | asset_url }}" data-src-retina="{{ '23_Pocket_Shirt_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Pocket Shirt" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '24_Pocket_Shirt_3_large.jpg' | asset_url }}" data-src-retina="{{ '24_Pocket_Shirt_3_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Pocket Shirt" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '25_Mandarin_Collar_Slit_Shirt_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '25_Mandarin_Collar_Slit_Shirt_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Madarin Collar Slit Shirt" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '26_Mandarin_Collar_Slit_Shirt_large.jpg' | asset_url }}" data-src-retina="{{ '26_Mandarin_Collar_Slit_Shirt_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Madarin Collar Slit Shirt" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '27_Slit tunic_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '27_Slit tunic_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Tunic" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '28_Slit_Tunic_large.jpg' | asset_url }}" data-src-retina="{{ '28_Slit_Tunic_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Slit Tunic" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '29_Napa_Coat_Main_large.jpg' | asset_url }}" data-src-retina="{{ '29_Napa_Coat_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Napa Coatalt="Urban Zen - Modern Souls Collection - Urban Zen - Modern Souls Collection -  />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '30_Napa-Coat_large.jpg' | asset_url }}" data-src-retina="{{ '30_Napa-Coat_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Napa Coat" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '31_Napa_Round_Collar_Coat_Main_large.jpg' | asset_url }}" data-src-retina="{{ '31_Napa_Round_Collar_Coat_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Napa Round Collar Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '32_Long_Cowl_Neck_Dress_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '32_Long_Cowl_Neck_Dress_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Long Cowl Neck Dress" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '33_Long_Cowl_Neck_Dress_large.jpg' | asset_url }}" data-src-retina="{{ '33_Long_Cowl_Neck_Dress_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Long Cowl Neck Dress" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '34_Cowl_Neck_Dress_1_large.jpg' | asset_url }}" data-src-retina="{{ '34_Cowl_Neck_Dress_1_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Long Cowl Neck Dress" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '35_Cowl-Neck-Dress_2_large.jpg' | asset_url }}" data-src-retina="{{ '35_Cowl-Neck-Dress_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Long Cowl Neck Dress" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '36_Devore_Bonded_Round_Neck_Coat_large.jpg' | asset_url }}" data-src-retina="{{ '36_Devore_Bonded_Round_Neck_Coat_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Devore Bonded Round Neck Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '37_Devore_Bonded_Round_Neck_Coat_Closeup_large.jpg' | asset_url }}" data-src-retina="{{ '37_Devore_Bonded_Round_Neck_Coat_Closeup_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Devore Bonded Round Neck Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '38_Devore_Bonded_Round-Neck_Jacket_Closeup1_large.jpg' | asset_url }}" data-src-retina="{{ '38_Devore_Bonded_Round-Neck_Jacket_Closeup1_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Devore Bonded Round Neck Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '39_Devore_Bonded_Round-Neck_Jacket_Closeup2_large.jpg' | asset_url }}" data-src-retina="{{ '39_Devore_Bonded_Round-Neck_Jacket_Closeup2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Devore Bonded Round Neck Coat" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product"><p class="p2 align_left manual-position">It is here she discovers her true nomadic soul, the part of her that is home anywhere in the world. This, she realizes, is how she is meant to live and travel. She has found her #CALMINTHECHAOS.</p></div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product"><img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '40_Devore-Bonded-Round-Neck-Coat_large.jpg' | asset_url }}" data-src-retina="{{ '40_Devore-Bonded-Round-Neck-Coat_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - {{ '40_Devore-Bonded-Round-Neck-Coat_large.jpg' | asset_url }}" /></div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '41_Soft-Suede-Kimono-Jacket_large.jpg' | asset_url }}" data-src-retina="{{ '41_Soft-Suede-Kimono-Jacket_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Devore Bonded Round Neck Coat" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '42_Soft-Suede-Kimono-Jacket_2_large.jpg' | asset_url }}" data-src-retina="{{ '42_Soft-Suede-Kimono-Jacket_2_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Soft Suede Kimono Jacket" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '43_Soft-Suede-Kimono-Jacket_3_large.jpg' | asset_url }}" data-src-retina="{{ '43_Soft-Suede-Kimono-Jacket_3_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Soft Suede Kimono Jacket" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '44_Soft-Suede-Flight-Suite_Main_large.jpg' | asset_url }}" data-src-retina="{{ '44_Soft-Suede-Flight-Suite_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Soft Suede Flight Suit" />
	</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '45_Soft-Suede-Flight-Suit_large.jpg' | asset_url }}" data-src-retina="{{ '45_Soft-Suede-Flight-Suit_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Soft Suede Flight Suit" />
	</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
		<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ '46_Soft-Suede-Flight-Suit_Main_large.jpg' | asset_url }}" data-src-retina="{{ '46_Soft-Suede-Flight-Suit_Main_large.jpg' | asset_url }}" alt="Urban Zen - Modern Souls Collection - Soft Suede Flight Suit" />
	</div>
	<div class="section clearfix center">
		<h1 class="dark">Experience Urban Zen</h1>
		<!--<h2>Curated selection available at Bergdorf Goodman</h2>-->
		<a href="pages/stores/" class="cta-button"><span>Visit Our Stores</span></a>
	</div>
</div>