</div>
<div class="section" id="first">
	<div class="tableCell">
		<div class="container center">
			<div class="{% if settings.image_1_headline_position == 'Left' %}one-half left{% endif %}{% if settings.image_1_headline_position == 'Right' %}one-half right{% endif %}">
				{% if settings.image_1_toptitle != blank %}
				<h4 class="light">{{ settings.image_1_toptitle }}</h4>
				{% endif %}
				{% if settings.image_1_headline != blank %}
				<h1 class="light">{{ settings.image_1_headline }}</h1>
				{% endif %}
				{% if settings.image_1_display_hr %}
				<hr class="text-center hr--small" />
				{% endif %}
				{% if settings.image_1_subtitle != blank %}
				<h3 class="light">{{ settings.image_1_subtitle }}</h3>
				{% endif %}
				{% if settings.image_1_button_text != blank %}
				<a href="{{ settings.image_1_link }}" class="{% if settings.image_1_is_button %}cta-button{% endif %} cta">
					<span>{{ settings.image_1_button_text }}</span>
				</a>
				{% endif %}
				{% if settings.image_1_button2_text != blank %}
				<a href="{{ settings.image_1_link2 }}" class="{% if settings.image_1_is_button2 %}cta-button{% endif %} cta second">
					<span>{{ settings.image_1_button2_text }}</span>
				</a>
				{% endif %}
			</div>		
			{% if settings.homepage_arrow %}
			<a href="#pagecontent" class="scroll-arrow animated fadeInDown mobile_hidden"></a>
			{% endif %}
		</div>
	</div>
	<!--<div class="bottom-content center">
		<div class="container">
			<div class="one-half">
				<h2 class="dark">Modern Souls</h2>
				<a href="/collections/women/" class="cta-button"><span>Shop The Collection</span></a>
			</div><div class="one-half">
				<h2 class="dark">Philosophy of Living</h2>
				<a href="/pages/discover/" class="cta-button"><span>Discover Our Story</span></a>
			</div>
		</div>
	</div>-->
</div>
<div class="section" id="second">
	<a name="pagecontent" id="pagecontent"></a>
	<div class="tableCell center">
		<div class="container center {% if settings.image_2_headline_position == 'Left' %}one-half left{% endif %}{% if settings.image_2_headline_position == 'Right' %}one-half right{% endif %}">
			{% if settings.image_2_toptitle != blank %}
			<h4 class="light">{{ settings.image_2_toptitle }}</h4>
			{% endif %}
			{% if settings.image_2_headline != blank %}
			<h1 class="light">{{ settings.image_2_headline }}</h1>
			{% endif %}
			{% if settings.image_2_display_hr %}
			<hr class="text-center hr--small" />
			{% endif %}
			{% if settings.image_2_subtitle != blank %}
			<h3 class="light">{{ settings.image_2_subtitle }}</h3>
			{% endif %}
			{% if settings.image_2_button_text != blank %}
			<a href="{{ settings.image_2_link }}" class="{% if settings.image_2_is_button %}cta-button{% endif %} cta">
				<span>{{ settings.image_2_button_text }}</span>
			</a>
			{% endif %}
		</div>
		<!--<div class="banner">
			<div class="absolute-banner {% if settings.image_2_headline_position == 'Left' %}one-half left{% endif %}{% if settings.image_2_headline_position == 'Right' %}one-half right{% endif %}">
				{% if settings.image_2_toptitle != blank %}
				<h4 class="light">{{ settings.image_2_toptitle }}</h4>
				{% endif %}
				{% if settings.image_2_headline != blank %}
				<h1 class="light">{{ settings.image_2_headline }}</h1>
				{% endif %}
				{% if settings.image_2_display_hr %}
				<hr class="text-center hr--small" />
				{% endif %}
				{% if settings.image_2_subtitle != blank %}
				<h3 class="light">{{ settings.image_2_subtitle }}</h3>
				{% endif %}
				{% if settings.image_2_button_text != blank %}
				<a href="{{ settings.image_2_link }}" class="{% if settings.image_2_is_button %}cta-button{% endif %} cta">
					<span>{{ settings.image_2_button_text }}</span>
				</a>
				{% endif %}
			</div>				 
		</div>-->
		<!--<div class="container content">
			<h2>Design Essentials</h2>
			<p class="p2">Designed by Donna Karan, our in-season collections seek to simplify dressing with timelessness and ease.</p>
			{% assign featured_links_count = settings.featured_links_count | minus: 0 %}
			<div class="sixteen columns" id="featured_links">
				<div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column{% else %}four columns{% endif %} alpha delay-025s center">
					{% if settings.feature1_link != blank %}
					<a href="{{ settings.feature1_link }}">
						{% endif %}
            
						<img src="{{ 'feature1.jpg' | asset_url }}" alt="{{ settings.feature1_title }}" />
            
						{% if settings.feature1_title != blank %}
						<h2 class="animated fadeIn">{{ settings.feature1_title }}<br><div class="cta"><br><span>Shop</span></div></h2>
						<div class="feature_bg animated fadeIn"></div>
						{% endif %}
						{% if settings.feature1_link != blank %}
					</a>
					{% endif %}

					{% if settings.feature1_description != blank %}
					<p>{{ settings.feature1_description }}</p>
					{% endif %}
				</div>

				<div class="{% if featured_links_count == 2 %}eight columns omega{% elsif featured_links_count == 3 %}one-third column{% else %}four columns{% endif %} delay-05s center">
					{% if settings.feature2_link != blank %}
					<a href="{{ settings.feature2_link }}">
						{% endif %}

						<img src="{{ 'feature2.jpg' | asset_url }}" alt="{{ settings.feature2_title }}" />
            
						{% if settings.feature2_title != blank %}
						<h2 class="animated fadeIn">{{ settings.feature2_title }}<br><div class="cta"><br><span>Shop</span></div></h2>
						<div class="feature_bg animated fadeIn"></div>
						{% endif %}
						{% if settings.feature2_link != blank %}
					</a>
					{% endif %}

					{% if settings.feature2_description != blank %}
					<p>{{ settings.feature2_description }}</p>
					{% endif %}
				</div>

				{% if featured_links_count >= 3 %}
				<div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column omega{% else %}four columns{% endif %} delay-075s center">
					{% if settings.feature3_link != blank %}
					<a href="{{ settings.feature3_link }}">
						{% endif %}

						<img src="{{ 'feature3.jpg' | asset_url }}" alt="{{ settings.feature3_title }}" />
              
						{% if settings.feature3_title != blank %}
						<h2 class="animated fadeIn">{{ settings.feature3_title }}<br><div class="cta"><br><span>Shop</span></div></h2>
						<div class="feature_bg animated fadeIn"></div>
						{% endif %}
						{% if settings.feature3_link != blank %}
					</a>
					{% endif %}

					{% if settings.feature3_description != blank %}
					<p>{{ settings.feature3_description }}</p>
					{% endif %}
				</div>
				{% endif %}

				{% if featured_links_count == 4 %}
				<div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column{% else %}four columns omega{% endif %} delay-1s center">
					{% if settings.feature4_link != blank %}
					<a href="{{ settings.feature4_link }}">
						{% endif %}

						<img src="{{ 'feature4.jpg' | asset_url }}" alt="{{ settings.feature4_title }}" />
              
						{% if settings.feature4_title != blank %}
						<h2 class="animated fadeIn">{{ settings.feature4_title }}<br><div class="cta"><br><span>Shop</span></div></h2>
						<div class="feature_bg animated fadeIn"></div>
						{% endif %}
						{% if settings.feature4_link != blank %}
					</a>
					{% endif %}

					{% if settings.feature4_description != blank %}
					<p>{{ settings.feature4_description }}</p>
					{% endif %}
				</div>
				{% endif %}        
			</div>
		</div>-->
	</div>
</div>
<!--<div class="section custom" id="third">
	<div class="tableCell center">
		<div class="banner">
			<div class="absolute-banner {% if settings.image_3_headline_position == 'Left' %}one-half left{% endif %}{% if settings.image_3_headline_position == 'Right' %}one-half right{% endif %}">
				{% if settings.image_3_toptitle != blank %}
				<h4 class="light">{{ settings.image_3_toptitle }}</h4>
				{% endif %}
				{% if settings.image_3_headline != blank %}
				<h1 class="light">{{ settings.image_3_headline }}</h1>
				{% endif %}
				{% if settings.image_3_display_hr %}
				<hr class="text-center hr--small" />
				{% endif %}
				{% if settings.image_3_subtitle != blank %}
				<h3 class="light">{{ settings.image_3_subtitle }}</h3>
				{% endif %}
				{% if settings.image_3_button_text != blank %}
				<a href="{{ settings.image_3_link }}" class="{% if settings.image_3_is_button %}cta-button{% endif %} cta">
					<span>{{ settings.image_3_button_text }}</span>
				</a>
				{% endif %}
			</div>				 
		</div>
		<div class="container content">
			<h2>The Urban Zen Experience</h2>
			<p class="p2">"Urban Zen embodies my philanthropic passions and my love for design.<span class="mobile_hidden"><br> I am dressing and addressing people both on the inside and the outside <br>- making them aware of what is happening in the world today.</span>" <br></p><h5>- Donna Karan</h5>
		</div>
	</div>
</div>-->
<div class="section clearfix center">
	<h2>The Urban Zen Experience</h2>
	<p class="p2">"Urban Zen embodies my philanthropic passions and my love for design.<span class="mobile_hidden"><br> I am dressing and addressing people both on the inside and the outside <br>- making them aware of what is happening in the world today.</span>" <br></p><h5 class="no-btm-pad">- Donna Karan</h5>
</div> 
<div class="section" id="full">
<div class="tableCell">
	<div class="container inner white">
		<div class="one-half">
			<img src="{{'founder-vid-link.jpg' | asset_url}}" alt="A Message From Our Founder, Donna Karan">
		</div><div class="one-half center black-bg inner">
			<h4 class="light">Our Founder</h4>
			<h1 class="light">Donna Karan</h1>
			<p class="p2 light">Explore the journey of an iconic woman, mother, designer<span class="mobile_hidden"><br></span> and philanthropist, as she balances mind, body, and soul.<span class="mobile_hidden"><br> Through her travels she seeks endless inspiration and shares<br> her passion for the past, present and future.</span></p>
			<br>
			<a href="/blogs/donnas-voice" class="btn cta-button"><span>Read Donna's Voice</span></a>
		</div>
		<div class="feature_divider"></div>
		<h2 class="center">{{ blogs[settings.blog_widget_select].title }}</h2>
		<div class="sixteen columns">
			{% for article in blogs[settings.blog_widget_select].articles limit: settings.home_page_articles %}
			<div class="{% if settings.home_page_articles == "2" %}eight columns{% elsif settings.home_page_articles == "3" %}one-third column{% else %}four columns{% endif %} article">
				{% if article.image %}
				<a href="{{ article.url }}" title="{{ article.title | escape }}">
					<img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title | escape }}" />
				</a>
				{% endif %}
				<h5 class="sub_title">
					<a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title | truncatewords:5 | truncate:32  }}</a>
				</h5>
			</div>
			{% endfor %}
		</div>
		<div class="feature_divider clearfix"></div>
		<div class="black-bg inner center clearfix">
			<h4 class="light">Raise Awareness<span class="desktop_hidden"><br></span> Inspire Change</h4>
			<h1 class="light">Urban Zen Foundation</h1>
			<a href="/pages/urban-zen-foundation" class="btn cta-button"><span>Learn More</span></a>
		</div>
	</div>			
</div>
		
</div>
