<div id="slide-article">
	<div class="bcg" data-bottom-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-article" style="background-image: url({{ 'About_Us_Banner.jpg' | asset_url }});">
		<div class="hsContainer">
			<div class="hsContent center">
				<div>
					<h1 class="headline" style="color:{{settings.banner_color}}">“I HAVE SPENT DECADES DRESSING PEOPLE.<br>NOW I WANT TO ADDRESS THEM.”</h1><h3 class="light">- DONNA KARAN</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container page-template">
	  <div class="section clearfix center">
		<h1>DISCOVER<span class="desktop_hidden"><br></span> URBAN ZEN</h1>
		<p>Urban Zen is a philosophy of living by Donna Karan, touched and inspired by cultures and artisans from around the world. We give back by supporting the Urban Zen Foundation, which has a mission to raise awareness and inspire change in the areas of Preservation of Cultures, Well-Being and Education.</p>
	</div>
	<div class="sixteen column" id="featured_links">
		<div class="four columns center alpha thumbnail">
			<a href="/blogs/donnas-voice">
				<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'Discover_DK-Voice_3_large.jpg' | asset_url }}" alt="Donna's Voice" />
				<h2 class="animated fadeIn">Donna's Voice</h2>
				<div class="feature_bg animated fadeIn"></div>
			</a>
		</div>	
		<div class="four columns center alpha thumbnail">
			<a href="/pages/modern-souls-collection">
				<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'About_Us_Retail_Thumbnail_large.jpg' | asset_url }}" alt="Modern Souls Collection" />
				<h2 class="animated fadeIn">Modern Souls<br>Collection</h2>
				<div class="feature_bg animated fadeIn"></div>
			</a>
		</div>	
		
		<div class="four columns center alpha thumbnail">
			<a href="/pages/haiti-artisan-project">   
				<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'Artisan-Resize_large.jpg' | asset_url}}" alt="Haiti Artisans" />
				<h2 class="animated fadeIn">Haiti Artisan<br>Project</h2>
				<div class="feature_bg animated fadeIn"></div>
			</a>
		</div>
		<div class="four columns center alpha thumbnail">
			<a href="/pages/urban-zen-foundation">
				<img src="{{ 'loader.gif' | asset_url }}" data-src="{{ 'Home-Panel-Foundation-1_large.jpg' | asset_url }}" alt="Urban Zen Foundation" />
				<h2 class="animated fadeIn">Urban Zen Foundation</h2>
				<div class="feature_bg animated fadeIn"></div>
			</a>
		</div>
	</div>
</div>